html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  line-height: 1.05;
}

h2 {
  font-size: 3.052rem;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 2.441rem;
  }
}

p {
  line-height: 1.5;
}

.btn {
  font-weight: 500;
}

.hero h1 {
  font-size: 3.815rem;
  line-height: 1.05;
  font-weight: 700;
}
@media screen and (max-width: 460px) {
  .hero h1 {
    font-size: 2.441rem;
    line-height: 1.2;
  }
}
.hero h1 .emphasis {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.hero h1 .emphasis:after {
  content: "";
  width: 100%;
  height: 16px;
  background: var(--secondary);
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 460px) {
  .hero h1 .emphasis:after {
    height: 10px;
  }
}
.hero p {
  margin: 1.6rem 0;
  line-height: 1.5;
}

/*******************************
HOME PAGE
********************************/
.location__text {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
}

.section__subheading {
  color: #000077;
  position: relative;
  margin-bottom: 2.5rem;
}
.section__subheading:after {
  content: "";
  width: 3rem;
  height: 4px;
  background: #000077;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -1rem;
}
@media screen and (max-width: 460px) {
  .section__subheading {
    font-size: 1.25rem;
  }
  .section h2 {
    font-size: 1.953rem;
  }
}
.section h2 {
  margin: 1.5rem 0;
}
.section p {
  margin: 1rem 0 2rem;
  width: 80%;
}

.services .cards .service-card {
  text-align: center;
}
.services .cards .service-card h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #000077;
  line-height: 1.5;
}
.services .cards .service-card__icon {
  margin-top: -6.2rem;
}
.services .cards .service-card p {
  margin: auto;
}

.hero {
  background: url("../img/bg-large-reduced.jpg") no-repeat;
  background-size: cover;
  min-height: 40rem;
}
.hero__content {
  padding: 12rem 0;
  max-width: 32rem;
}
.hero__content .cta {
  padding-top: 1rem;
}
.hero__content .cta:first-child {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 576px) {
  .hero {
    background-position: -9rem 0;
  }
  .hero__content {
    padding: 10rem 0 12rem;
  }
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0;
}
.btn-primary {
  background: #000077;
  border: 1px solid #000077;
  color: white;
}
.btn-primary:hover, .btn-primary:focus {
  background: #01014a;
}
.btn-empty {
  border: 1px solid #000077;
  color: #000077;
}
.btn-empty:hover, .btn-empty:focus {
  background: #000077;
  color: #fff;
}
@media screen and (max-width: 460px) {
  .btn {
    width: 100%;
    margin: 1rem 0 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: background-color 0.08s ease-out;
}
.navbar-brand img {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .navbar ul {
    position: absolute;
    right: 3rem;
  }
  .navbar ul li {
    padding: 0 1rem;
    position: relative;
  }
  .navbar ul li:after {
    content: "";
    height: 2px;
    width: 0%;
    background: var(--secondary);
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    transition: width 0.2s ease-out;
  }
  .navbar ul li.active:after {
    content: "";
    height: 3px;
    width: 30%;
    background: var(--secondary);
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
  }
}
.navbar.show-bg {
  background: rgba(250, 250, 250, 0.98);
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.102);
}
@media screen and (max-width: 768px) {
  .navbar.show-bg-mob {
    background: rgba(250, 250, 250, 0.99);
  }
}

.location {
  padding: 1rem;
  background: var(--secondary);
  margin-top: -1px;
}
.location__container {
  max-width: 38rem;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .location__container {
    padding: 1rem;
    max-width: 100%;
  }
  .location__container p {
    max-width: 20rem;
  }
  .location__container .location__icon {
    margin-top: -4.5rem;
  }
}
.location__text {
  display: inline-block;
}
.location__icon {
  display: inline-block;
  margin-top: -3.5rem;
}

.doorstep {
  padding: 8rem 0 4rem;
  position: relative;
  overflow-x: hidden;
}
.doorstep .img-holder {
  display: flex;
  position: relative;
  align-items: center;
  overflow-y: visible;
  max-height: 440px;
}
.doorstep .img-holder img {
  margin: auto 4rem auto auto;
  height: 100%;
  max-width: 380px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .doorstep .img-holder img {
    margin: auto 2rem auto auto;
  }
}
.doorstep:after {
  content: "";
  height: 100%;
  width: 300px;
  background-image: url("../img/transparent rect.png");
  position: absolute;
  top: 0;
  left: 25%;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .doorstep:after {
    left: 18%;
    width: 260px;
  }
}
@media screen and (max-width: 882px) {
  .doorstep:after {
    left: 15%;
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .doorstep:after {
    left: 97%;
    width: 3%;
  }
}
@media screen and (max-width: 768px) {
  .doorstep {
    padding: 8rem 0;
  }
}

.services {
  padding: 8rem 0;
  background: rgba(0, 0, 0, 0.05);
}
.services .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 4rem;
  margin-top: 5rem;
}
@media screen and (max-width: 992px) {
  .services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .services .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services .cards .service-card {
  background: #fff;
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease-out;
}
.services .cards .service-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 1rem 60px rgba(0, 0, 0, 0.12);
}
.services .cards .service-card__icon {
  margin-top: -6.2rem;
}
.services .cards .service-card p {
  margin: auto;
}
.services .cards .service-card:hover {
  transform: translateY(-0.5rem) scale(1.02);
  z-index: 10;
}
.services .cards .service-card:hover:before {
  box-shadow: 0 1rem 60px rgba(0, 0, 0, 0.17);
}
.worked-with {
  padding: 3rem 0;
  background: linear-gradient(to right, rgba(1, 1, 74, 0.85), rgba(1, 1, 74, 0.85)), url("../img/worked-with-bg.png");
  background-size: cover;
  color: #fff;
}
.worked-with h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.worked-with > * .text {
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
@media screen and (max-width: 576px) {
  .worked-with > * .text {
    font-size: 12px;
  }
}
.worked-with .worked-with__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  background-repeat: none;
  column-gap: 1rem;
  row-gap: 1.3rem;
}
.worked-with .worked-with__cards > * {
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  display: grid;
  place-content: center;
}

.me {
  font-size: 14px;
  background: #fdb644;
}
.me__name {
  font-size: 1.2rem;
  font-family: "Oswald";
}
.me__name a {
  color: #202020;
}
.me__name a:hover {
  color: crimson;
}

/*# sourceMappingURL=style.css.map */
