.hero {
  background: url("../img/bg-large-reduced.jpg") no-repeat;
  background-size: cover;
  min-height: 40rem;

  &__content {
    padding: 12rem 0;
    max-width: 32rem;

    .cta {
      padding-top: 1rem;

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    &__content {
      padding: 10rem 0 12rem;
    }
  }
}