$color-primary: var(--primary);
$color-primary-light: #b6b6da;
$color-primary-dark: #01014a;
$color-secondary: var(--secondary);
$color-text-dark: #202020;

// font sizing
$font-size-heading1: 3.815rem;
$font-size-heading2: 3.052rem;
$font-size-heading3: 2.441rem;
$font-size-heading4: 1.953rem;
$font-size-paragraph: 1rem;
$font-size-emphasis: 1.25rem;


